/* Media query para tablet */
@media (min-width: 768px) {
  .container-body {
    height: 60vh;
  }

  .content-body {
    flex-direction: row; /* Cambia a row para que los divs estén uno al lado del otro */
    justify-content: space-around; /* Agrega espacio entre los div */
    flex-wrap: wrap;
  }

  .div1, .div2, .div3 {
    width: 30%;
    height: 35%;
  }
}


/* Media query para desktop */
@media (min-width: 1024px) {
  .container-body {
    height: 50vh;
  }

  .div1, .div2, .div3 {
    width: 20%;
  }
}



.div-example:nth-child(odd) {
  background-color: green;
}

.div-example:nth-child(even) {
  background-color: blue;
}
